#panel {
	background: #ccc;
}

.view {
	--gap: 20px;
}

.cell {
	--inset: 0px;
	--offset-x: 0px;
	--offset-y: 0px;
}

.cell button, .label, .text, .icon {
	font-family: 'Open Sans';
	font-size: 36px;
}

.cell button {
	padding: 0;
	background: #fff;
	border: none;
}

.cell .label,
.cell .value {
	justify-content: center;
	align-items: center;
}

.label, .text, .icon {
	padding: 10px;
}

input[type=range] {
	width: 100%;
	--thumb-height: 40px;
	--track-height: 20px;
}

input[type=range]::-webkit-slider-thumb {
	background: #fff;
	width: 30px;
	height: var(--thumb-height);
}

input[type=range]::-webkit-slider-runnable-track {
	background: #aaa;
	height: var(--track-height);
}
