#panel-container > panel-grid {
	--background-color: #ccc;
}

panel-grid {
	--grid-rows: 1;
	--grid-columns: 1;
}

panel-view {
	--gap: 20px;

	/* reset variables cascaded down from grid */
	--row: auto;
	--column: auto;
	--row-span: 1;
	--column-span: 1;
}

panel-view,
text-label,
icon-label {
	--background-color: initial;
	--background-image: initial;
	--border-style: solid;
	--border-width: 0;
	--border-color: black;
	--border-radius: initial;
	--box-shadow: initial;
}

.cell {
	--inset: 0px;
	--offset-x: 0px;
	--offset-y: 0px;
}

.cell button {
	padding: 0;
}

state-control,
button-control,
slider-control {
	--width: 100%;
	--height: 100%;
}

button-control {
	--background-color: #fff;
}

text-label,
icon-label {
	--font-family: 'Open Sans';
	--font-size: 36px;
	--vertical-alignment: center;
	--horizontal-alignment: center;
}

text-label {
	--text-align: center;
}

.label, .text, .icon {
	padding: 10px;
}

input[type=range] {
	--thumb-width: 30px;
	--thumb-height: 40px;
	--thumb-background-color: #fff;

	--track-height: 20px;
	--track-background-color: #aaa;
}
