@font-face {
	font-family: 'Open Sans';
	src: url("/fonts/OpenSans-Regular.ttf");
}

html {
	font-size: 14px;
}

body {
	margin: 0;
	height: 100vh;
	user-select: none;
	cursor: default;
	--border: 1px solid var(--border-color);
	--border-color: rgba(34, 36, 38, 0.15);
	--border-radius: 0.28571429rem;
}

#app {
	height: 100%;
}

#menu {
	display: flex;
	flex-flow: column;
	height: 100%;
	background: #eee;
}

#menu {
	font-family: 'Open Sans';
}

#menu > header {
	flex: 0 0 auto;
	height: 100px;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

header.with-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu section {
	flex: 1 1 auto;
	background: white;
	width: 500px;
	padding: 1em 4em;
	margin: auto;
	justify-content: center;
	flex-direction: column;
	overflow: auto;
}

#menu section header {
	margin: 1em 0;
}

#menu section > header {
	margin-bottom: 2em;
}

#menu button,
.modal-content button {
	font-size: 1rem;
	
	min-height: 1em;
	outline: none;
	border: none;
	background: #e0e1e2;
	color: rgba(0, 0, 0, 0.6);
	font-family: inherit;
	margin: 0em 0.25em 0em 0em;
	padding: 0.78571429em 1.5em 0.78571429em;
	font-weight: bold;
	line-height: 1em;
	border-radius: var(--border-radius);
	transition: background-color 0.1s ease, color 0.1s ease;
}

#menu button:active,
.modal-content button:active {
	background-color: #babbbc;
	color: rgba(0, 0, 0, 0.9);
}

#menu button.primary,
.modal-content button.primary {
	background-color: #2185D0;
	color: white;
}

#menu button.primary:enabled:active,
.modal-content button.primary:enabled:active {
	background-color: #1a69a4;
}

.modal-content button:disabled {
	color: #ccc;
}

h1 {
	margin: 0;
}

h3 {
	font-size: 1.28571429rem;
	margin: 0;
}

#panel-list {
	list-style-type: none;
	padding: 0;
	border: var(--border);
	box-shadow: 0px 1px 2px 0 var(--border-color);
	border-radius: var(--border-radius);
}

#panel-list li {
	padding: 1em;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: var(--border);
	transition: 0.1s background-color ease;
}

#panel-list li:active {
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.9);
}

#panel-list li:first-child {
	border-top: none;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

#panel-list li:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.fa-spin {
	animation-duration: 0.6s;
}

.hidden {
	visibility: hidden;
}

.loading {
	position: absolute;
}

.loading::before {
	content: '';
	border: 0.2em solid rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	animation: rotate 0.6s linear infinite;
	box-sizing: border-box;
}

button span.loading {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

button span.loading::before {
	width: 24px;
	height: 24px;
	border-top-color: white;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

.checkbox {
	min-height: 17px;
	font-size: 1rem;
	line-height: 17px;
	min-width: 17px;

	display: flex;
	align-items: center;
	flex: 1 1 auto;

	margin-left: 0.25em;
}

input[type=checkbox] {
	-webkit-appearance: none;
	position: relative;
		
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;

	outline: 0;

	width: 17px;
	height: 17px;
	background: #fff;
	border-radius: 0.21428571rem;
	transition: border .1s ease;
	border: 1px solid #d4d4d5;
}

input[type=checkbox]::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '\f00c';
	font-family: FontAwesome;

	font-size: 14px;
	text-align: center;
	color: transparent;
	transition: color .1s ease;
}

input[type=checkbox]:checked {
	border-color: rgba(34, 36, 38, 0.35);
}

input[type=checkbox]:checked::before {
	color: rgba(0, 0, 0, 0.95);
}

.checkbox label {
	padding-left: calc(1.85714em - 17px);
	font-size: 1em;
}

.checkbox label {
	color: rgba(0,0,0,.87);
	transition: color .1s ease;
}
