.modal-mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	transition: opacity 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	font-family: 'Open Sans';
	background-color: #fff;
	border-radius: var(--border-radius);
	min-width: 300px;
}

.modal-content > header {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.28571429em;
	padding: 1.25rem 1.5rem;
	border-bottom: var(--border);
}

.modal-content .content {
	padding: 1.5rem;
}

.modal-content .content p:first-child {
	margin-top: 0;
}

.modal-content .content p:last-child {
	margin-bottom: 0;
}

.modal-content .buttons {
	background: #f9fafb;
	padding: 1rem;
	border-top: var(--border);
	display: flex;
	justify-content: flex-end;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.modal-content .buttons button {
	margin-left: 0.75em;
	position: relative;
}

.modal-content div.input {
	margin-bottom: 1em;
	
	font-size: 1em;
	display: flex;
	color: rgba(0, 0, 0, 0.87);
}

.modal-content div.input:last-child {
	margin: 0;
}
/* 
dialog label {
	font-size: 1rem;
}
 */
.modal-content .input label {
	line-height: 1;
	background-color: #e8e8e8;
	padding: .78571429em .833em;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);

	flex: 0 0 auto;
	font-size: 1em;
	width: 4em;
}

.modal-content .input input {
	margin: 0;
	flex: 1 0 auto;
	outline: 0;
	line-height: 1.21428571em;
	font-family: inherit;
	padding: .67857143em 1em;
	color: rgba(0, 0, 0, 0.87);
	border: var(--border);
	border-left-color: transparent;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	transition: border-color .1s ease;
}

.modal-content .input input:focus {
	border-color: #85b7d9;
	color: rgba(0, 0, 0, 0.8);
}
