body {
	margin: 0;
	height: 100vh;
	user-select: none;
	cursor: default;
	overflow: hidden;
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type=range] {
	-webkit-appearance: none;
	background: none !important;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	box-sizing: content-box;
}

input[type=range] {
	width: 100% !important;
	margin: 0 !important;
	--thumb-height: 40px;
	--track-height: 20px;
}

input[type=range]::-webkit-slider-thumb {
	background: #fff;
	width: 30px;
	height: var(--thumb-height);
	/* this needs to be set manually to center the thumb vertically */
	margin-top: calc(var(--track-height) / 2 - var(--thumb-height) / 2);
}

input[type=range]::-webkit-slider-runnable-track {
	background: #aaa;
	height: var(--track-height);
}
