body {
	margin: 0;
	height: 100vh;
	user-select: none;
	cursor: default;
}

h1 {
	margin: 0;
}

#panel {
	display: grid;
	height: 100%;
}

.cell {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.cell.adjust-width,
.cell.adjust-height {
	box-sizing: border-box;
}

.cell.adjust-width {
	width: 100%;
}

.cell.adjust-height {
	height: 100%;
}
*/

.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell > div > button {
	width: 100%;
	height: 100%;
	outline: none;
}

.cell > div > span {
	text-align: center;
}

.cell.square > .container,
.cell.circle > .container {
	display: inline-block;
}

.container img {
	visibility: hidden;
}

.cell.square.adjust-width img,
.cell.circle.adjust-width img {
	width: 100%;
}

.cell.square.adjust-width > div,
.cell.circle.adjust-width > div {
	height: auto;
}

.cell.square.adjust-height img,
.cell.circle.adjust-height img {
	height: 100%;
}

.cell.square.adjust-height > div,
.cell.circle.adjust-height > div {
	width: auto;
}

.cell.square button,
.cell.circle button {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*
	width: 100%;
	height: 100%;
	*/
}

.cell.circle > div > button {
	border-radius: 50% !important;
}

.cell .label,
.cell .value {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	pointer-events: none;
	/*touch-action: none;*/
}

.text, .icon {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
}

input[type=range] {
	-webkit-appearance: none;
	background: none;
	width: 100%;
	/*height: 100%;*/
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	box-sizing: content-box;
}

#menu {
	background: #eee;
}

#menu header {
	height: 100px;
	background: #333;
}

#menu header h1 {
	/*height: 30px;*/
	color: white;
	background: #111;
	text-align: center;
}

#menu {
	font-family: 'PT Sans';
}

#menu section {
	background: white;
	width: 500px;
	padding: 50px;
	margin: auto;
	/*
	display: flex;
	*/
	justify-content: center;
	flex-direction: column;
}

#menu button {
	font-family: inherit;
	/*
	background: #eee;
	border: 1px solid #888;
	border-radius: 5px;
	*/
}

#panel-list {
	list-style-type: none;
	padding: 0;
}

h3 {
		vertical-align: middle;
}

#panel-list li {
	background: #ddd;
	padding: 8px;
	margin: 2px;
	font-size: 20px;
	font-weight: bold;
}

dialog {
	text-align: center;
	font-family: 'PT Sans';
	border: none;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog p {
	font-size: 20px;
}

dialog div.input {
	display: inline-block;
}

dialog label {
	display: block;
	font-weight: bold;
}

dialog input {
	font-family: inherit;
	font-size: 20px;
}

dialog input[name=port] {
	width: 80px;
}

dialog button {
	font-family: inherit;
	font-size: 20px;
	padding: 8px;
	border: none;
	outline: none;
}
