#panel {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	background-position: center;
}

.cell {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.adjust-width .container {
	--size: calc(100vw / var(--grid-columns) - var(--inset) * 2);
	width: var(--size);
	height: var(--size);
}

.adjust-height .container {
	--size: calc(100vh / var(--grid-rows) - var(--inset) * 2);
	width: var(--size);
	height: var(--size);
}

.cell > .container > button {
	width: 100%;
	height: 100%;
	outline: none;
	background-position: center;
}

.cell.circle button {
	border-radius: 50% !important;
}

.cell .label,
.cell .value {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	pointer-events: none;
	/*touch-action: none;*/
}

.label span {
	padding: 0 0.4em;
}

iframe {
	width: 100%;
	height: 100%;
	background: none !important;
	border: none !important;
}

input[type=range] {
	-webkit-appearance: none;
	background: none !important;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* this needs to be set manually to center the thumb vertically */
	margin-top: calc(var(--track-height) / 2 - var(--thumb-height) / 2);
}

input[type=range]::-webkit-slider-runnable-track {
	box-sizing: content-box;
}
