body {
	margin: 0;
	height: 100vh;
	user-select: none;
	cursor: default;
}

h1 {
	margin: 0;
}

#panel {
	display: grid;
	height: 100%;
}

.cell {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.cell.adjust-width,
.cell.adjust-height {
	box-sizing: border-box;
}

.cell.adjust-width {
	width: 100%;
}

.cell.adjust-height {
	height: 100%;
}
*/

.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell > .container > button {
	width: 100%;
	height: 100%;
	outline: none;
}

.cell > .container > span {
	text-align: center;
}

.cell.square > .container,
.cell.circle > .container {
	display: inline-block;
}

.container img {
	visibility: hidden;
}

.cell.square.adjust-width img,
.cell.circle.adjust-width img {
	width: 100%;
}

.cell.square.adjust-width > .container,
.cell.circle.adjust-width > .container {
	height: auto;
}

.cell.square.adjust-height img,
.cell.circle.adjust-height img {
	height: 100%;
}

.cell.square.adjust-height > .container,
.cell.circle.adjust-height > .container {
	width: auto;
}

.cell.square button,
.cell.circle button {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*
	width: 100%;
	height: 100%;
	*/
}

.cell.circle > .container > button {
	border-radius: 50% !important;
}

.cell .label,
.cell .value {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	pointer-events: none;
	/*touch-action: none;*/
}

.text, .icon {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
}

input[type=range] {
	-webkit-appearance: none;
	background: none;
	width: 100%;
	/*height: 100%;*/
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	box-sizing: content-box;
}
