cell {
	align-items: var(--vertical-alignment);
	justify-content: var(--horizontal-alignment);
}

.container {
	width: var(--width);
	height: var(--height);
}

panel-grid,
.control,
text-label span {
	background-color: var(--background-color);
	background-image: var(--background-image);
	border-style: var(--border-style);
	border-width: var(--border-width);
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

.cell .label {
	align-items: var(--vertical-alignment);
	justify-content: var(--horizontal-alignment);
}

text-label,
icon-label {
	color: var(--font-color);
	font-family: var(--font-family);
	font-size: var(--font-size);
	text-shadow: var(--text-shadow);
}

input[type=range]::-moz-range-thumb {
	width: var(--thumb-width);
	height: var(--thumb-height);
	background-color: var(--thumb-background-color);
	background-image: var(--thumb-background-image);
	background-size: var(--thumb-background-size);
	border-style: var(--thumb-border-style);
	border-width: var(--thumb-border-width);
	border-color: var(--thumb-border-color);
	border-radius: var(--thumb-border-radius);
	box-shadow: var(--thumb-box-shadow);
}

input[type=range]::-webkit-slider-thumb {
	width: var(--thumb-width);
	height: var(--thumb-height);
	background-color: var(--thumb-background-color);
	background-image: var(--thumb-background-image);
	background-size: var(--thumb-background-size);
	border-style: var(--thumb-border-style);
	border-width: var(--thumb-border-width);
	border-color: var(--thumb-border-color);
	border-radius: var(--thumb-border-radius);
	box-shadow: var(--thumb-box-shadow);
}

input[type=range]::-moz-range-track {
	width: var(--track-width);
	height: var(--track-height);
	background-color: var(--track-background-color);
	background-image: var(--track-background-image);
	background-size: var(--track-background-size);
	border-style: var(--track-border-style);
	border-width: var(--track-border-width);
	border-color: var(--track-border-color);
	border-radius: var(--track-border-radius);
	box-shadow: var(--track-box-shadow);
}

input[type=range]::-webkit-slider-runnable-track {
	width: var(--track-width);
	height: var(--track-height);
	background-color: var(--track-background-color);
	background-image: var(--track-background-image);
	background-size: var(--track-background-size);
	border-style: var(--track-border-style);
	border-width: var(--track-border-width);
	border-color: var(--track-border-color);
	border-radius: var(--track-border-radius);
	box-shadow: var(--track-box-shadow);
}
