<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Relay</title>

	<link rel="stylesheet" href="/styles/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/menu.css">
	<link rel="stylesheet" href="/styles/modal.css">
	<link rel="stylesheet" href="/styles/panel.css">
	<link rel="stylesheet" href="/styles/var.css">
	<link rel="stylesheet" href="/styles/defaults.css">

	<script type="importmap">
		{
			"imports": {
				"vue": "/scripts/vue.esm-browser.js",
				"xml-parser": "/scripts/xml-parser.js",
				"relay": "/scripts/relay.js",
				"modal": "/scripts/modal.js",
				"panel": "/scripts/panel.js",
				"view": "/scripts/view.js",
				"stylesheet": "/scripts/stylesheet.js",
				"styles": "/scripts/styles.js",
				"colors": "/scripts/colors.js",
				"label": "/scripts/label.js",
				"controls/base": "/scripts/controls/base.js",
				"controls/state": "/scripts/controls/state.js",
				"controls/button": "/scripts/controls/button.js",
				"controls/slider": "/scripts/controls/slider.js"
			}
		}
	</script>

	<script src="/scripts/signalr.js"></script>

	<script type="module" src="/scripts/index.js"></script>
</head>

<body>

<div id="app">

<div id="menu" v-if="!currentPanel">
	<header>
		<h1>Relay</h1>
	</header>

	<section>
		<header class="with-button">
			<h1> {{ connected ? `Connected to ${currentServer}` : 'Not connected' }} </h1>
			<button @click="dialogs.connect.show = true">Connect</button>
		</header>

		<div v-if="connected">
			<header class="with-button">
				<h3>Available panels</h3>
				<button @click="updatePanels"><i class="fa fa-refresh fa-fw"></i></button>
			</header>

			<ul id="panel-list" v-if="panels.length > 0">
				<li v-for="panel in panels" @click="loadPanel(panel)">
					<span> {{ panel }} </span>
					<i class="far fa-circle-o-notch fa-spin fa-fw" v-if="panel === currentPanel"></i>
				</li>
			</ul>

			<p v-if="panels.length === 0" style="text-align: center; margin-top: 4em">No panels found</p>
		</div>
	</section>
</div>

<modal-dialog v-if="dialogs.connect.show">
	<template #header>Connect to Relay server</template>
	<template #content>
		<div class="input">
			<label>Address</label>
			<input name="address" required pattern="[\d.]+" v-model="address">
		</div>
		<div class="input">
			<label>Port</label>
			<input name="port" required pattern="\d+" v-model="port">
		</div>
	</template>
	<div class="buttons">
		<button type="button" :disabled="connecting" @click="dialogs.connect.show = false">Cancel</button>
		<button type="button" :disabled="connecting" class="primary" @click="submit">
			<span class="loading" v-if="connecting"></span>
			<span :style="{ visibility: connecting ? 'hidden' : 'visible' }">Connect</span>
		</button>
	</div>
</modal-dialog>

<modal-dialog v-if="dialogs.alert.show">
	<template #header> {{ dialogs.alert.title }} </template>
	<template #content>
		<p v-for="line in dialogs.alert.message"> {{ line }} </p>
	</template>
	<dialog-button primary @click="alertDialogClose">OK</dialog-button>
</modal-dialog>

<modal-dialog id="reconnecting-dialog" v-if="dialogs.reconnecting.show">
	<template #header>Disconnected from server</template>
	<template #content>
		<div class="loading">Reconnecting</div>
	</template>
	<dialog-button @click="reconnectingDialogClose">Cancel</dialog-button>
</modal-dialog>

</div>

</body>

</html>
