<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="/styles/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/menu.css">
	<link rel="stylesheet" href="/styles/modal.css">
	<link rel="stylesheet" href="/styles/panel.css">
	<link rel="stylesheet" href="/styles/defaults.css">
	
	<script type="module" src="/scripts/vue.esm-browser.js"></script>
	<script type="module" src="/scripts/xml-parser.js"></script>
	<script src="/scripts/signalr.js"></script>

	<script type="module" src="/scripts/recon.js"></script>
	<script type="module" src="/scripts/panel.js"></script>
	<script type="module" src="/scripts/view.js"></script>
	<script type="module" src="/scripts/styles.js"></script>
	<script type="module" src="/scripts/colors.js"></script>
	<script type="module" src="/scripts/control.js"></script>
	<script type="module" src="/scripts/button.js"></script>
	<script type="module" src="/scripts/slider.js"></script>
	<script type="module" src="/scripts/label.js"></script>

	<script type="module" src="/scripts/index.js"></script>
</head>

<body>

<div id="app">

<div id="menu" v-if="!currentPanel">
	<header>
		<h1>Recon</h1>
	</header>
	<section>
		<header class="with-button">
			<h1> {{ connected() ? `Connected to ${currentServer}` : 'Not connected' }} </h1>
			<button @click="showModal = true">Connect</button>
		</header>
		<div v-if="connected()">
			<header class="with-button">
				<h3>Available panels</h3>
				<button @click="updatePanels"><i class="fa fa-refresh fa-fw"></i></button>
			</header>
			
			<ul id="panel-list" v-if="panels.length > 0">
				<li v-for="panel in panels" @click="loadPanel(panel)">
					<span> {{ panel }} </span>
					<i class="far fa-circle-o-notch fa-spin fa-fw" v-if="panel === currentPanel"></i>
				</li>
			</ul>
			<p v-if="panels.length === 0" style="text-align: center; margin-top: 4em">No panels found</p>
		</div>
	</section>
</div>

<div id="panel" style="display: none"></div>

<div class="modal-mask" v-if="showModal">
	<div class="modal-content">
		<header>Connect to Recon server</header>
		<form @submit.prevent="submit">
			<div class="content">
				<div class="input">
					<label>Address</label>
					<input name="address" required pattern="[\d.]+" v-model="address">
				</div>
				<div class="input">
					<label>Port</label>
					<input name="port" required pattern="\d+" v-model="port">
				</div>
			</div>
			<div class="buttons">
				<button type="button" @click="showModal = false">Cancel</button>
				<button type="submit" class="primary">
					<span class="loading" v-if="connecting()"></span>
					<span v-if="!connecting()">Connect</span>
				</button>
			</div>
		</form>
	</div>
</div>

<modal ref="modal"></modal>

</div>

</body>

</html>
